@import "colors";

.thank-you-container{
    display: block;
    width:100%;
    max-width:400px;
    background-color: $cardBackgroundColor;
    border-radius: 20px;
    text-align: center;
    margin:auto;

    p:nth-child(1){
        display: block;
        margin:1em auto;
        background-color: hsl(215, 22%, 23%);
        padding:.9em;
        border-radius:30px;
        color:$orangeRed;
    }
    h1{
        margin:1em auto .2em auto;
    }
    p:nth-child(2){
        font-size:.4em;
    }
}

