@use './thanks';
@import "colors";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: $bodyBackgroundColor;
    color:$textColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $fontFamily;
    min-height: 100vh;
    font-size: 15px;
}

.container{
    display: block;
    width:100%;
    max-width:400px;
    background-color: $cardBackgroundColor;
    margin: 5em  auto 5em auto;
    border-radius: 20px;
    padding:2em;
    h1{
        letter-spacing: 2px;  
        margin:1.20rem auto 0 auto;
        color:$textColor;
    }
    p{
        color:$lightGrey;
        line-height: 1.50rem;
        margin:1rem 0;
    }
}
.image-container{
    width:100%;
    max-width: 50px;
    background-color: hsl(215, 22%, 23%);
    border-radius: 50%;
    padding:1em;
   
    
    svg{
        display: block;
        margin:auto;

    }
}

.button-container{
    margin:2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn{
        width:50px;
        height:50px;
        border-radius: 50%;
        background-color: hsl(215, 22%, 28%);
        color: $lightGrey;
        text-align: center;
        padding: 0;
        font-size: 1rem;
        outline: none;
        border:none;
        transition:all 0.2s ease-in;
        
        &:hover{
            cursor: pointer;
            background-color: $orangeRed;
            color:#1E201E

        }
        &:active{
            cursor: pointer;
            background-color: $textColor;
            color:$bodyBackgroundColor;
        }
    }
}


.submit-button{
    width:100%;
    background-color: $orangeRed;
    padding:1em;
    border-radius: 20px;
    text-transform:uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    &:hover{
        background-color:$textColor;
        color:$bodyBackgroundColor;
    }
}



.submit-button:hover{
    cursor: pointer;
}

.active{
    background-color: $orangeRed;
}